.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border: 1px solid #01010154;
}
.link__dzYcE {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-R-_OSErrVepK);
  font-size: 24px;
  font-weight: 700;
  padding-right: 0px;
  margin-right: 0px;
}
.root .link__dzYcE:hover {
  color: var(--token-2mRhFD47DvGZ);
}
.img__dUnjU {
  object-fit: cover;
}
.img__dUnjU > picture > img {
  object-fit: cover;
}
.img__p54I {
  object-fit: cover;
}
.img__p54I > picture > img {
  object-fit: cover;
}
.link__sFSo {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__sFSo:hover {
  color: var(--token-2mRhFD47DvGZ);
}
.link___4Gv1 {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___4Gv1:hover {
  color: var(--token-2mRhFD47DvGZ);
}
.link___6Yk5 {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___6Yk5:hover {
  color: var(--token-2mRhFD47DvGZ);
}
.link__qfOya {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__qfOya:hover {
  color: var(--token-2mRhFD47DvGZ);
}
