.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  justify-self: flex-start;
  position: relative;
  row-gap: 16px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 96px 0px 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 100px 0px 60px;
  }
}
.columns__egoA9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__egoA9 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns__egoA9 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__egoA9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__egoA9 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dNai9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__o3Jkl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-2mRhFD47DvGZ);
  min-width: 0;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTitle {
  font-size: 56px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0px;
}
.column__at6AH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.columns__ninEw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 0px;
  align-self: stretch;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__ninEw > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ninEw > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ninEw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 48px;
    row-gap: 0px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ninEw > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ninEw > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__t0Mk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.text__nwCtG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-2mRhFD47DvGZ);
  min-width: 0;
}
.freeBox__nev1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetRole {
  font-size: 18px;
  font-weight: 600;
  color: #1d1d21;
}
.column__oEVn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.text__u9Jy8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-2mRhFD47DvGZ);
  min-width: 0;
}
.freeBox__jKnva {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTimeline {
  font-size: 18px;
  font-weight: 600;
  color: #1d1d21;
}
