.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  row-gap: 16px;
  min-width: 0;
  padding: 50px 40px 146px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links {
    width: 100%;
    min-width: 0;
    padding: 20px;
  }
}
.freeBox__cFhJu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cFhJu {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 8px;
  }
}
.link__svEyg {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-2mRhFD47DvGZ);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__svEyg {
    padding-left: 18px;
    padding-right: 18px;
    margin: 0px;
  }
}
.link__dLd8M {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__dLd8M:hover {
  color: #e76385;
}
.link__ypvoj {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__ypvoj:hover {
  color: #e76385;
}
.link__w43AR {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__w43AR:hover {
  color: #e76385;
}
.link__bGqW {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__bGqW:hover {
  color: #e76385;
}
.columns__y8Ro1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 0px;
}
.columns__y8Ro1 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__y8Ro1 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y8Ro1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y8Ro1 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wtUfx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wtUfx {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__fkaBg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 30px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fkaBg {
    width: auto;
    padding: 3px;
  }
}
.link__eiMiq {
  position: relative;
  align-self: flex-start;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.link___34DdG {
  position: relative;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
  margin-left: 0px;
}
.instaPng {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.instaPng > picture > img {
  object-fit: cover;
}
.link__sjr0Y {
  position: relative;
  display: flex;
  cursor: pointer;
  margin: 0px;
}
.img__l8YSa {
  object-fit: contain;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.img__l8YSa > picture > img {
  object-fit: contain;
}
.link___81ZHc {
  position: relative;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
  margin-left: 0px;
}
.img__uXNnB {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.img__uXNnB > picture > img {
  object-fit: cover;
}
.column__ey5Sy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ey5Sy {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox___4FUgh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4FUgh {
    justify-content: flex-start;
    width: auto;
  }
}
.img__bPfF {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 32px;
  height: 32px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__bPfF > picture > img {
  object-fit: contain;
}
.text__pkMr4 {
  position: relative;
  align-self: center;
  padding-left: 30px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1920px;
  background: #fafafa;
  min-width: 0;
  padding: 8px;
}
.columns___9Qsci {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1280px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 24px 40px;
}
.columns___9Qsci > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___9Qsci > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___9Qsci > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Qsci {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Qsci > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tDg2O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__j3QCk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  min-width: 0;
}
.column__dCspV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___9LVvo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__zlJ1K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__y4JnW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
